@tailwind base;
@tailwind components;
@tailwind utilities;

body, .bg-pattern {
    background-color: #bfdf8e; /* color pantonebg */
    background-image: url('images/bg-pattern.png');
    background-repeat: repeat;
    background-size: 30%;
}

.titulo-categoria-box {
  position: absolute;
  bottom: 0;
  padding: 10px 20px;
  border-radius: 0px 10px 0px 0px;
  background-color: rgba(255, 255, 255, 0.85);
}