@tailwind base;
@tailwind components;
@tailwind utilities;

body, .bg-pattern {
    background-color: #bfdf8e; /* color pantonebg */
    background-image: url('../public/bg-pattern.png');
    background-repeat: repeat;
    background-size: 30%;
}